extends layout

block content
  main(class="main_content")
    h1= title 
    br
    hr
    br
    section  
      div(class="game_cards_container")
        each game in game_list
          a(href=game.url class="game_card" style=`--bg-image: url(${game.photo})`)
            span(class="game_card_title") #{game.name}
        else
          p Seems like the game library is empty. Add new games.