extends layout
block content 
    div.main_content
        h1 #{title}
        hr
        br
        div.form_box
            form(method="POST" action="")
                div.user_box
                    input(type = "text" id="name" name="name" required
                          placeholder = "Fantasy, Action RPG, First Person Shooter, Platform etc."
                          value=(undefined === genre ? "" : genre.name))
                    label(for = "name") Genre:
                button(type = "submit") Submit
            if errors 
                    ul 
                        for error in errors
                            li!= error.msg