extends layout 
block content
    main(class="main_content")
        h1 #{title}:#{platform.name}
        if platform_games.length
            p #[strong Delete the following games before attempting to delete this Platform.]
            div(style='margin-left:20px;margin-top:20px')
                h1 Games
                hr
                br
                div(class="game_cards_container")
                    each game in platform_games 
                        a(href=game.url class="game_card" style="--bg-image: url(/images/mgs2.png)")
                            span(class="game_card_title") #{game.name}
        else 
            p Do you really want to delete this Platform?
            form(method= "POST" action='')
                input(id= "platformId" type='hidden' name = "platformId" required="true" value= platform._id)
                button(type = "submit") Delete