extends layout
block content 
    div.main_content
        h1 #{title}
        hr
        br
        div.form_box
            form(method="POST" action="")
                div.form_item
                    label(for = "name") Name:
                    input(type = "text" id="name" name="name" required
                          placeholder = "PlayStation,Xbox,Switch etc."
                          value=(undefined === platform ? "" : platform.name))
                div.form_item
                    label(for = "icon") Icon URL:
                    input(type = "text" id="icon" name="icon")
                button(type = "submit") Submit

            if errors 
                    ul 
                        for error in errors
                            li!= error.msg