extends layout

block content
    main(class="main_content")
        div(class="reviewDetail_container")
            h2 Review of : 
                a(href="#") Metal Gear Solid 2
            h2 by IGN
            h2 Rating: 10/10
            h2 Snippet
            p Metal Gear was a game ahead of its time.
            a(href="#") See the whole review (in a new tab) &#8594
               
                
                