:root {
  --text-color: hsl(0, 0%, 97%);
  --text-color-grey: hsl(0, 0%, 73%);
  --bg-color: hsl(0, 0%, 0%);
  --primary: #b10f2e;
  --primary-active: hsl(9, 69%, 44%);
  --primary-hover: #e63946;
}
* {
  padding: 0;
  margin: 0;
}
body {
  padding: 5px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: gainsboro;
  font-family: "Darker Grotesque", sans-serif;
}
.main_content {
  margin: 5px 5px 5px 120px;
}
.main_content h1.main_content_title {
  text-align: center;
  font-size: 3rem;
}
.main_content h1 {
  font-size: 2rem;
  margin: 10px 1px;
}
section {
  display: grid;
  gap: 5px;
}
.bonfire_logo {
  width: 122px;
  height: 185px;
  cursor: pointer;
  transition: all 0.3s ease;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 4;
}
.bonfire_logo:hover {
  transform: scale(1.05);
  filter: none;
}
.bonfire_logo:active {
  transform: scale(0.95);
}
a {
  text-decoration: none;
  color: inherit;
}

/* NavBar Styles */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(26, 25, 25, 0.5);
  top: 0;
  left: 0;
  transition: all 1s ease;
  transform: translateX(100vw);
  z-index: 2;
}
.overlay.active {
  transform: translateX(0);
}
.sidebar_container {
  min-width: 300px;
  width: 400px;
  height: 100vh;
  padding: 10px;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 1s ease;
  transform: translateX(-50vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.sidebar_container.active {
  transform: translateX(0);
}

.sidebar_nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar_nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar_nav ul li {
  list-style: none;
  text-decoration: none;
}
.sidebar_nav ul a {
  list-style: none;
  text-decoration: none;
  justify-self: center;
  align-self: center;
  padding: 15px;
  font-size: 1.3rem;
  transition: all 0.5s ease;
}
.sidebar_nav ul a:hover {
  color: var(--primary-active);
  cursor: pointer;
}
.sidebar_nav ul a:active {
  transform: scale(0.9);
}
/* Featured Section */
.featured {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  border-radius: 1em;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-image: url("/images/mgs2banner.jpg");
}
.featured::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  border-radius: 1em;
  background-image: linear-gradient(
    to right,
    transparent,
    rgba(0, 0, 0, 0.836)
  );
}
a.featured {
  text-decoration: none;
  color: var(--text-color);
  transition: transform 200ms ease;
  cursor: pointer;
}
a.featured:hover {
  transform: scale(1.05);
}
button {
  border-radius: 1em;
  border: none;
  background-color: var(--primary);
  color: var(--text-color);
  padding: 1em 1.5em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  font-weight: 700;
}
button:hover {
  background-color: var(--primary-hover);
}
.featured_button {
  align-self: flex-end;
  z-index: 1;
}
.featured_title {
  font-size: 4em;
  font-weight: bold;
  z-index: 1;
  transition: transform 200ms ease;
}
a.featured:hover .featured_title {
  transform: scale(1.3) translateX(-20%);
}
/* Records Section */
.records_container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.records_container li {
  list-style: none;
  border-radius: 1em;
  border: none;
  background-color: rgb(110, 109, 109);
  color: var(--text-color-grey);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  min-width: 255px;
}
.records_container li a:hover {
  color: white;
  transition: all 0.3s ease;
}
/* Top Rated Section */
.game_cards_container {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(10.7vw, 250px));
  place-content: center;
}
.game_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1em;
  transition: transform 200ms ease;
  aspect-ratio: 9/14;
  cursor: pointer;
}
.game_card:hover {
  transform: scale(1.05);
}
.game_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-image: var(--bg-image);
  filter: brightness(0.85);
}
.game_card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 1em;
  background-image: linear-gradient(transparent, black);
}
a.card {
  text-decoration: none;
}
.game_card_title {
  font-size: 1.2em;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: transform 200ms ease;
  z-index: 1;
  font-size: 25px;
  opacity: 0.7;
  text-align: center;
}
.game_card:hover .card_title {
  opacity: 1;
}
.cards_container {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, 600px);
  place-content: center;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 3em 1em;
  transition: transform 200ms ease;
  cursor: pointer;
  filter: brightness(0.85);
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: var(--bg-image);
  background-color: gainsboro;
}
.card:hover {
  transform: scale(1.05);
  filter: brightness(1);
}

/* genre */
.genre_container {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, 300px);
  place-content: center;
}
.genre {
  border-radius: 1em;
  border: none;
  background-color: var(--primary);
  color: var(--text-color);
  padding: 1em 1.5em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.genre:hover {
  background-color: var(--primary-hover);
  transition: transform 200ms ease;
  transform: scale(1.05);
}

/* Platform */
.platform_container {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, 300px);
  place-content: center;
}
.platform {
  border-radius: 1em;
  border: none;
  background-color: #69306d;
  color: var(--text-color);
  padding: 1em 1.5em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.platform:hover {
  background-color: #3c096c;
  transition: transform 200ms ease;
  transform: scale(1.05);
}
/* Review */
.review_container {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, 400px);
  place-content: center;
}
.review {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.review a {
  font-size: 22px;
  transition: all 200ms ease;
}
.review a:hover {
  color: var(--primary-hover);
}
/* Developer */
.developer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(206, 193, 193, 0.363);
  /* background-color: rgba(253, 253, 253, 0.219); */
  padding: 20px;
  border-radius: 24px;
  max-width: 800px;
  gap: 20px;
  margin: auto;
}
.developer_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.developer_logo {
  height: 185px;
  width: 250px;
  object-fit: contain;
}
/* Game Details */
.gameDetail_container {
  display: flex;
  background-color: rgba(206, 193, 193, 0.363);
  gap: 15px;
  padding: 30px;
  border-radius: 24px;
  margin: 30px auto;
  max-width: 1200px;
}
.gameDetail_image {
  width: 25vw;
  object-fit: contain;
  min-width: 350px;
  min-height: 600px;
}
.gameDetail_info {
  display: grid;
}
.gameDetail_info div {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 200px);
}
.gameDetail_info div > h2 {
  grid-row: 1/3;
}
.gameDetail_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 3em 1em;
  transition: transform 200ms ease;
  cursor: pointer;
  filter: brightness(0.85);
}
.gameDetail_card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: var(--bg-image);
}
.gameDetail_card:hover {
  transform: scale(1.05);
  filter: brightness(1);
}
